<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Hello!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.nav.docs %}
      <li class="nav-item{% if item.url == page.url %} active{% endif %}">
        <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0" action="https://google.com/cse">
      <input type="hidden" name="cx" value="40759ad43c3e63cd4">
      <input type="hidden" name="ie" value="UTF-8">
      <input class="form-control mr-sm-2" type="search" name="q" placeholder="" aria-label="Search">
      <input type="submit" class="btn btn-outline-light my-2 my-sm-0" name="sa" value="Search">
    </form>
  </div>
</nav>

<header class="site-header">

</header>